<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Gender</th>
      <th scope="col">Location</th>
    </tr>
  </thead>




  <tbody>
    <tr *ngFor="let emp of modal">
      <th scope="row">{{emp.id}}</th>
      <td>{{emp.name}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.gender}}</td>
      <td>{{emp.location}}</td>
    </tr>

    <tr *ngFor="let emp of employees">
      <th scope="row">{{emp.id}}</th>
      <td>{{emp.name}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.gender}}</td>
      <td>{{emp.location}}</td>
    </tr>

  </tbody>


</table>









<div>

<form [formGroup]="RegisterForm" (ngSubmit)="AddUser()">

  <div class="dataInput">

    <div class="id" id="idInputBox">
      <label for="name">Id</label>
        <div>
          <input type="text" id="id" name="id" formControlName="id" size="50" placeholder="Your id..">
        </div>
      </div> 

     <div class="name" id="nameInputBox">
        <label for="name">Name</label>
          <div>
            <input type="text" id="name" name="name" formControlName="name" size="50" placeholder="Your name..">
          </div>
        </div> 

      <div class="email" id="emailInputBox">
         <label for="fname">Email</label>
            <div>
              <input type="text" id="emailBox" name="email" formControlName="email" size="80" placeholder="Your email..">
            </div>
       </div>

       <div class="location" id="locationInputBox">
        <label for="fname">location</label>
           <div>
             <input type="text" id="location" name="location" formControlName="location" size="60" placeholder="Your location No..">
           </div>
      </div> 

      <div class="gender" id="genderInputBox">
        <label for="fname">gender</label>
           <div>
             <input type="text" id="mobile" name="gender" formControlName="gender" size="60" placeholder="Your gender No..">
           </div>
      </div> 


       <button type="submit" id="submit" class="btn btn-primary">Submit</button>
  </div> 
</form>
</div>  -->
<app-responsive></app-responsive>